.button {
  border: none;
  border-radius: $rounded;
  background: $bg-blue-700;
  color: white;
  padding: $p-2 $p-4;
  cursor: pointer;
}

.button--secondary {
  background: $bg-grey-600;
}

.button--logout {
  background: none;
}

.button--danger {
  background: $bg-red-400;
}
