.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  max-width: 30rem;
  outline: none;
  padding: $m-12;
  text-align: center;
  box-shadow: $shadow-lg;
  border-radius: $rounded;
}

.modal__title {
  margin: 0 0 $m-6 0;
}

.modal__body {
  display: flex;
  justify-content: space-between;
}
