*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  color: $text-black;
  font-family: $font-sans;
}
body {
  background: $bg-grey-100;
}
a {
  text-decoration: none;
}
.container {
  max-width: 768px;
  margin: 0 auto;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 35px;
    height: 35px;
  }
}
